/***********************************
MEDIA QUERIES
***********************************/ 
@media only screen and (max-width: 1460px) {
    h1, .h1 { font-size: 48px; line-height: 48px; } 
    h2, .h2 { font-size: 42px;  line-height: 42px; }

    .btn {
        font-size: 14px;
        padding: 11.5px 17px;
    }

    /***********************************
    HOME STYLES
    ***********************************/
    .about-gallery {
        padding: 180px 0;
    }

    .about-covid {
        padding: 200px 0;
    }

    .what-matters__content {
        height: 55vh;
    }

    .matters-section .matters__item .title {
        font-size: 42px;
        padding: 0 62px; 
        line-height: 42px; 
    }

}/* 1460 */

@media only screen and (max-width: 1366px) {

    /***********************************
    HOME STYLES
    ***********************************/
    .banner {
        padding: 50px 4.5%;

        &__content {
            margin: 50px 0 0;

            .title, p {
                margin: 0 0 30px;
            }
        }
    }

    .about-gallery {
        padding: 140px 0;

        &__content {
            margin: 0 0 70px;

            .title {
                margin-bottom: 25px;
            }
        }

        &__slide {  
            margin-top: 40px;
            padding-left: 30px;
        }
    }

    .about-covid {
        padding: 150px 0;

        &__content .title {
            margin-bottom: 30px;
        }
    }

    .what-matters__content {

        .title {
            margin-bottom: 30px;
        }
    }

    .matters-section .matters__item {
        min-height: calc(520px + 2px);

        .title {
            font-size: 40px;
            line-height: 40px;
        }
    }

    .wondering {
        padding: 300px 0 170px;
    }

    .faq-section {
        padding: 120px 4.5%;
    }

    .stay-connected__content {
        min-height: calc(100vh - 110px);
    }

    .hero-area .your-noze .power__item-wrapper .power__item-media {
        height: 371px;
    }

}/* 1366 */

@media only screen and (max-width: 1199px) {

    h1, .h1 { font-size: 34px; line-height: 34px; } 
    h2, .h2 { font-size: 30px;  line-height: 30px; }
    h3, .h3 { font-size: 28px;  line-height: 28px; }
    h4, .h4 { font-size: 24px;  line-height: 26px; }

    .btn {
        font-size: 12px;
        padding: 8.5px 15px;
    }

    /***********************************
    HOME STYLES
    ***********************************/
    .banner {
        padding: 45px 4.5%;

        &__content {
            margin: 40px 0 0;

            .title, p {
                margin: 0 0 25px;
            }
        }
    }

    .noze-making {
        padding: 60px 61px;

        &__content {
            max-width: 430px;
        }
    }

    .about-gallery {
        padding: 110px 0;

        &__content {
            margin: 0 0 50px;

            .title {
                margin-bottom: 20px;
            }
        }

        &__slide {  
            margin-top: 30px;
            padding-left: 25px;
        }
    }

    .about-covid {
        padding: 110px 0;

        &__content .title {
            margin-bottom: 20px;
        }
    }

    .what-matters__content {

        .title {
            margin-bottom: 25px;
        }
    }

    .matters-section .matters__item {
        min-height: calc(436px + 2px);

        &-wrapper {
            width: 810px;
            height: 436px;
        }

        .title {
            font-size: 28px;
            margin: 0 auto 0;
            max-width: 660px;
            line-height: 35px;
        }

        p {
            font-size: 17px;
            line-height: 32px; 
        }
    }

    .wondering {
        padding: 250px 0 100px;

        &__media {
            width: 461px;
            height: 461px;
        }
    }

    .faq-section {
        padding: 100px 4.5%;
    }

    .stay-connected__content {
        min-height: calc(100vh - 130px);
    }

    .hero-area .your-noze .power__item-wrapper .power__item-media {
        height: 308px;
    }

}/* 1199 */

@media only screen and (max-width: 991px) {

    h1, .h1 { font-size: 45px; line-height: 45px; } 
    h2, .h2 { font-size: 42px;  line-height: 42px; }
    h3, .h3 { font-size: 36px;  line-height: 40px; }
    h4, .h4 { font-size: 32px;  line-height: 35px; } 

    .btn {
        font-size: 15px;
    }

    /***********************************
    HEADER STYLES
    ***********************************/
    .header {

        .navbar {
            min-height: 60px;

            .navbar-collapse {

                .navbar-nav {
                    margin: 0;

                    li {
                        margin: 0 !important;
                    }

                    &:not(.navbar-right) {
                        top: 19px;
                        right: 20px; 
                        max-height: 28px;
                        position: absolute;
                        overflow-y: hidden;
                        padding: 0 25px 0 0;
                        flex-direction: column;
                        border: 1px solid #654a9b;
                        @include transition(0.3s);
                        @include border-radius(15px);

                        &:after {
                            top: -2px;
                            right: 10px;
                            display: block;
                            font-size: 11px;
                            color: #B9B0E4;
                            content: "\e805";
                            font-family: "noze";
                            position: absolute;
                            @include transition(0.3s);
                        }

                        &.active {
                            background: #fff;
                            max-height: 200px;

                            &:after {
                                @include transform(rotate(180deg));
                            }
                            
                            li {
                                pointer-events: inherit;
                            }
                        }

                        li {
                            width: 111px;
                            display: flex;
                            font-size: 15px;
                            position: relative;
                            padding-left: 10px;
                            align-items: center;
                            pointer-events: none;
                            margin: 2px 0 5.7px !important;
                        }
                    }

                    &.navbar-right {
                        left: 0;
                        bottom: 0;
                        margin: 0;
                        height: 70px;
                        width: 100vw;
                        position: fixed;
                        padding: 0 20px;
                        background: $white;
                        justify-content: space-between;
                        box-shadow: 0px 15px 80px rgb(0 0 0 / 3%), 0px 6.26664px 33.4221px rgb(0 0 0 / 2%), 0px 3.35045px 17.869px rgb(0 0 0 / 2%), 0px 1.87823px 10.0172px rgb(0 0 0 / 2%), 0px 0.997515px 5.32008px rgb(0 0 0 / 1%), 0px 0.415088px 2.21381px rgb(0 0 0 / 1%);
                        
                        #pre-order {
                            margin: -20px 0 0 !important;
                        }
                    }
                }
            }
        }
    }

    /***********************************
    HOME STYLES
    ***********************************/
    .banner {
        padding: 40px 0;

        &__content {
            margin: 0 auto 30px;
            text-align: center;

            .title, p {
                margin: 0 0 20px;
            }
        }

        &__media {
            margin: 0 auto 0;
            max-width: 280px;
        }
    }

    .noze-making {
        padding: 60px 0;

        &__content {
            margin: auto;
            text-align: center;
        }
    }

    .about-gallery {
        padding: 80px 0;

        &__content {
            max-width: 506px;
            text-align: center;
            margin: 0 auto 35px;

             .title { 
                margin-bottom: 15px;
            }
        }

        &__slide {
            margin-top: 0;
            padding-left: 0;
            text-align: center;
            margin-bottom: 30px;
            border: 0 !important;

            &:before {
                content: none;
            }

            p {
                display: block;
            }

            .title {
                margin-bottom: 12px;
            }

            &-media {
                max-width: 100%;
                min-width: inherit;
                text-align: center;

                img {
                    width: 100%;
                }

                &-wrapper {
                    height: 442px;
                    max-width: 100%;
                }
            }
        }

         .nasa-bottom-text {
            display: none;
        }
    }

    .about-covid {
        padding: 80px 0;

        &__content {
            max-width: 100%;
            text-align: center;

            .title {
                text-align: center;
            }
        }

        &__media {
            padding-right: 0;
            margin-bottom: 20px;
        }
    }

    .what-matters {
        padding: 0;

        &__content {
            height: auto;

            .title {
                margin-bottom: 15px;
            }
        }
    }

    .matters-section {
        height: inherit;

        &-wrapper {
            min-height: 80vh;
        }

        .matters__item {
            
            &-wrapper {
                height: 380px;
                max-width: 100%;
                margin-bottom: 20px;
            }

            .title {
                font-size: 22px;
                line-height: 27px;
            }
        }

        .matters-nav li {
            margin-bottom: 0;
            text-align: center; 
            font-size: 18px !important;
            line-height: 32px !important;

            &.slick-active {
                color: #2c0a59;
                font-weight: 600;
            }
        }
    }

    .hero-area {

        .heroVideo {
            top: 0 !important;
            position: inherit !important;

            &-wrapper {
                height: auto !important;
            }

            video {
                position: inherit !important;
            }
        }

        .matters__content {
            height: auto;

            .title {
                margin-bottom: 25px;
            }
        }

        .your-noze {
            flex-direction: column;

            &__title {
                width: 100%;
                padding-right: 0;
                text-align: center;
                margin-bottom: 20px;
            }

            .power__item {
                width: 100% !important;
                margin-bottom: 75px !important;

                &-wrapper {
                    width: 100%;
                    height: inherit;
                }

                &-media {
                    margin: 0 auto 0;
                    height: auto !important;
                    max-width: 374px !important;
                }

                &-text {
                    max-width: 100% !important;
                }
            }
        }
    }

    .wondering {
        padding: 150px 0 80px;

        &__media {
            margin: 0 auto 20px;
        }

        &__content {
            margin: auto;
            max-width: 650px;
            text-align: center;

            .title, span {
                margin-bottom: 15px;
            }

            &-list {
                display: flex;
                align-items: center;
                flex-direction: column;
            }
        }
    }

    .faq-section {
        padding: 60px 0;

        h2.title {
            margin-bottom: 30px;
        }
    }

    #faqs .card {

        .card-header {
            padding: 13px 25px; 
            padding-right: 63px !important;

            &:before {
                right: 20px; 
            }

            .title {
                font-size: 17px;
                line-height: 30px;
            }
        }

        .content-editor {
            margin-top: 0;
            font-size: 15px;
            line-height: 28px;
            padding: 0px 21px 15px;

            h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
                margin-bottom: 10px;
            }

            p {
                margin: 0 0 20px;
            }

            .btn {
                margin-bottom: 15px;
            }


            ul { 

                li {
                    padding-left: 10px; 

                    ul {
                        margin-top: 10px;
                        margin-bottom: 15px;
                    }
                }
            }

            ol { 

                li { 

                    ol { 
                        margin-top: 15px;
                        margin-bottom: 15px;

                        li {
                            padding-left: 30px;

                            ol {

                                li {
                                    padding-left: 45px;
                                }
                            }
                        }
                    }
                }
            }

            ul, ol { 
                margin-bottom: 25px;

                li {
                    margin-bottom: 8px;
                }
            }
        }
    }

    .stay-connected {
        padding: 40px 0;

        &__content {
            min-height: calc(100vh - 330px);

            .title {
                margin-bottom: 10px;
            }

            .btn {
                margin-top: 25px;
            }
        }
    }

    /***********************************
    FOOTER STYLES
    ***********************************/
    .footer {
        padding: 26px 0;

        &__widget-wrapper {
            margin-bottom: 70px;
        }
    }

}/* 991 */

@media only screen and (max-width: 767px) {

    /***********************************
    HOME STYLES
    ***********************************/
    .banner {

        &__content {
            max-width: 510px;

            .title, p {
                margin: 0 0 15px;
            }
        }

        &__media { 
            max-width: 230px;
        }
    }

    .noze-making {
        padding: 50px 0;
    }

    .about-gallery {
        padding: 60px 0;

        &__content {  
            margin: 0 auto 30px;

            .title { 
                margin-bottom: 10px;
            }
        }

        &__slide {   

            .title {
                margin-bottom: 10px;
            }

            &-media { 

                &-wrapper {
                    height: 280px;
                }
            }
        }
    }

    .about-covid {

        &__content { 

            .title {
                margin-bottom: 15px;
            }
        }
    }

    .what-matters {

        &__content .title {
            margin-bottom: 12px;
        }
    }

    .matters-section {

        .matters__item {
            min-height: calc(318px + 2px);
            
            &-wrapper {
                height: 318px;
            }

            .title {
                font-size: 20px;
                line-height: 21px;
            }

            p {
                padding: 0 10%;
            }
        }

        .matters-nav li {
            font-size: 16px !important;
            line-height: 30px !important;
        }
    }

    .hero-area {

        .matters__content {

            .title {
                margin-bottom: 20px;
            }
        }

        .your-noze { 

            .power__item { 
                margin-bottom: 60px !important;
            }
        }
    }

    .wondering {
        padding: 80px 0;
    }

    .faq-section {
        padding: 50px 0;

        h2.title {
            margin-bottom: 20px;
        }
    }

    #faqs .card {
        @include border-radius(22px);

        .card-header {
            padding: 10px 20px; 
            padding-right: 50px !important;

            &:before {
                right: 15px; 
            }

            .title {
                font-size: 15px;
                line-height: 20px;
            }
        }

        .content-editor {
            margin-top: 0;
            font-size: 14px;
            line-height: 26px;
            padding: 0px 20px 10px;
        }
    }

    .stay-connected__content {
        min-height: calc(100vh - 390px);

        .btn {
            margin-top: 20px;
        }
    }
 
}/* 767 */

@media only screen and (max-width: 575px) {

    /***********************************
    HEADER STYLES
    ***********************************/
    .header .navbar .navbar-collapse .navbar-nav:not(.navbar-right) {
        padding: 0 20px 0 0;

        li {
            width: 90px; 
            margin: 4px 0 4px !important;

            > a {
                font-size: 13px;
                line-height: 17px; 
            }
        }
    }

    /***********************************
    HOME STYLES
    ***********************************/
    .banner {

        &__content { 

            .title, p {
                margin: 0 0 10px;
            }
        }

        &__media { 
            max-width: 180px;
        }
    }

    .noze-making {
        padding: 40px 0;
    }

    .about-gallery {
        padding: 40px 0;

        &__content {  
            margin: 0 auto 25px;
        }

        &__slide {   


            &-media { 

                &-wrapper {
                    height: 250px;
                }
            }
        }
    }

    .slick-dots { 
        bottom: 245px; 
    }

    .about-covid {

        &__content { 

            .title {
                margin-bottom: 10px;
            }
        }

        &__media {
            height: 310px;
        }
    }

    .what-matters {

        &__content {
            margin-bottom: 20px;

            .title {
                margin-bottom: 10px;
            }
        }
    }

    .matters-section {

        .matters__item {

            .title {
                font-size: 16px;
                line-height: 19px;
            }

            p { 
                font-size: 13px;
                line-height: 14px;
            }
        }

        .matters-nav li {
            font-size: 13px !important;
            line-height: 20px !important;
        }
    }

    .hero-area {

        .matters__content {

            .title {
                margin-bottom: 15px;
            }
        }

        .your-noze { 

            .power__item { 
                margin-bottom: 40px !important;
            }
        }
    }

    .wondering {
        padding: 60px 0;

        &__media {
            width: 315px;
            height: 315px;
        }
    }

    .faq-section {
        padding: 40px 0;
    }

    .stay-connected__content {

        .btn {
            margin-top: 15px;
        }
    }
 
}/* 575 */

@media only screen and (max-width: 480px) {

    h1, .h1 { font-size: 35px; line-height: 42px; } 
    h2, .h2 { font-size: 30px;  line-height: 30px; }
    h3, .h3 { font-size: 28px;  line-height: 28px; }
    h4, .h4 { font-size: 24px;  line-height: 26px; }

    .btn {
        font-size: 13px;
    }

    /***********************************
    HOME STYLES
    ***********************************/
    .header .navbar .navbar-collapse .navbar-nav.navbar-right li a {
        font-size: 14px;
        line-height: 14px;
    }

    /***********************************
    HOME STYLES
    ***********************************/
    .banner {

        &__media { 
            max-width: 180px;
        }
    }

    .about-gallery {
        padding: 40px 0;

        &__slide {   


            &-media { 

                &-wrapper {
                    height: 200px;
                }
            }
        }
    }

    .slick-dots { 
        bottom: 245px; 
    }

    .about-covid {
        padding: 50px 0;
    }

    .matters-section {

        .matters__item {

            .title { 
                padding: 0 30px; 
            }
        }

        .matters-nav li {
            font-size: 11px !important;
            line-height: 15px !important;
        }
    }

    .hero-area {

        .matters__content {

            .title {
                margin-bottom: 10px;
            }
        }

        .your-noze { 

            .power__item { 
                margin-bottom: 30px !important;
            }
        }
    }

    .wondering {
        padding: 40px 0;

        &__media {
            width: 260px;
            height: 260px;
        }
    }
 
}/* 480 */